.movies-card {
  background: #FDFDFD;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  max-width: 339px;
  min-height: 218px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.movies-card__image {
  width: 100%;
  object-fit: cover;
  height: 151px;
}

.movies-card__title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 14px 12px;
}

.movies-card__text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movies-card__title {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movies-card__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
  margin-top: 10px;
}

.movies-card__like-container {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  align-self: flex-start;
}

.movies-card__like-container input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  opacity: 0;
}

.movies-card__like-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background-color: #F9F9F9;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
  border: 2px solid #FFFFFF;
}

.movies-card__like-btn:hover {
  opacity: 0.6;
}

input:focus + .movies-card__like-btn {
  box-shadow: 0 0 2px #2BE080;
}

input:checked + .movies-card__like-btn {
  background-color: #2BE080;
}

.movies-card__del{
  width: 16px;
  height: 16px;
  align-self: flex-start;
  display: flex;
}

.movies-card__del-btn{
  padding: 0;
  margin: auto;
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #fff;
  background-image: url("../../images/del_btn.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;
  border: none;
  transition: 0.3s;
}

.movies-card__del-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .movies-card__image {
    height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card__image {
    height: 168px;
  }
}
