.register {
  width: 396px;
  min-height: 700px;
  margin: 0 auto;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.register__logo {
  display: block;
  width: 38px;
  height: 38px;
  cursor: pointer;
  transition: 0.3s;
}

.register__logo:hover {
  opacity: 0.6;
}

.register__title {
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
}

.register__form {
  display: flex;
  flex-direction: column;
}

.register__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #A0A0A0;
}

.register__input {
  padding: 15px;
  margin: 10px 0 8px;
  width: 100%;
  height: 46px;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #000;
  background-color: #F9F9F9;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  box-sizing: border-box;
}

.register__input::placeholder {
  color: #000;
  background-color: #F9F9F9;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
}

.register__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  min-height: 12px;
  color: #FF4062;
  visibility: hidden;
}

.register__error_visible {
  visibility: visible;
}

.register__button {
  margin: 70px auto 18px;
  width: 100%;
  height: 45px;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
}

.register__button:hover {
  opacity: 0.6;
}

.register__text {
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #A0A0A0;
}

.register__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

.register__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .register {
    padding: 232px 0;
  }
}

@media screen and (max-width: 767px) {
  .register {
    width: 260px;
    padding: 56px 0 30px;
    align-items: center;
  }

  .register__title {
    margin: 50px 0 80px;
  }

  .register__form {
    width: 100%;
  }

  .register__button {
    margin: 159px auto 14px;
    font-size: 12px;
    line-height: 1.25;
  }

  .register__text {
    font-size: 12px;
    line-height: 1.25;
  }

  .register__link {
    font-size: 12px;
    line-height: 1.25;
  }
}

