@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

body {
  background-color: #fff;
  /*padding: 0 40px;*/
  max-width: 1280px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #000;
  font-weight: normal;
}

/*@media screen and (max-width: 1279px) {*/
/*  body {*/
/*    padding: 0 3.12vw;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 1023px) {*/
/*  body {*/
/*    padding: 0 2.605vw;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 767px) {*/
/*  body {*/
/*    padding: 0 20px;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 457px) {*/
/*  body {*/
/*    padding: 0 4.375vw;*/
/*  }*/
/*}*/